<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #4d4d4d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    margin: 20px  auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
    height: 400px;

}

h1{
    padding-left: 20px;
    text-align: center;
    height: 50px;

}

h2{
    padding-left: 20px;

}
p{
    padding-left: 20px;
}

footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: black;
    
}

nav{
    background-color: #252525;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px
}


nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}

header{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.principal{
    background-color: rgb(56, 56, 56);
    flex:70%;
    margin: 20px;
}

.relleno{
    background-color: rgb(57, 57, 57);
    flex:50px

}

.mainIndex{
    display: flex;
    flex-wrap: wrap;
}

.mainSecundario{
    background-color: rgb(56, 56, 56);
    margin: 20px;
}
=======
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #4d4d4d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    margin: 20px  auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
    height: 400px;

}

h1{
    padding-left: 20px;
    text-align: center;
    height: 50px;

}

h2{
    padding-left: 20px;

}
p{
    padding-left: 20px;
}

footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: black;
    
}

nav{
    background-color: #252525;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px
}


nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}

header{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.principal{
    background-color: rgb(56, 56, 56);
    flex:70%;
    margin: 20px;
}

.relleno{
    background-color: rgb(57, 57, 57);
    flex:50px

}

.mainIndex{
    display: flex;
    flex-wrap: wrap;
}

.mainSecundario{
    background-color: rgb(56, 56, 56);
    margin: 20px;
}

input {
  width: 300px; 
  padding: 5px; 
  margin-bottom: 5px;
  box-sizing: border-box; 
}

label{
    margin-left: 7px;
}

table{
    width: 400px
}

.botonCargar{
    width:max-content;
}

.contacto{
background-color:black;
height: 50px;
margin: 0;
padding: 20px
    }
>>>>>>> 3506c2e (cambios lab3)
