body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #4d4d4d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

img{
    display: block;
    margin: 20px  auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 500px;
    height: 400px;

}

h1{
    padding-left: 20px;
    text-align: center;
    height: 50px;

}

h2{
    padding-left: 20px;

}
p{
    padding-left: 20px;
}

footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: black;
    
}

nav{
    background-color: #252525;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px
}


nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}

header{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.principal{
    background-color: rgb(56, 56, 56);
    flex:70%;
    margin: 20px;
}

.relleno{
    background-color: rgb(57, 57, 57);
    flex:50px

}

.mainIndex{
    display: flex;
    flex-wrap: wrap;
}

.mainSecundario{
    background-color: rgb(56, 56, 56);
    margin: 20px;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(58,58,58);
    padding: 20px;
}

label{
    display: block;
    margin-top: 15px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #2e2e2e;
    color:white
}

label input[type="radio"],
label input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

.grupo-contacto, .grupo-suscripcion {
    margin-top: 20px;
    background-color: #2e2e2e;
    border: 1px solid #666;
    border-radius: 8px;
    padding: 15px;
}

.grupo-contacto p, .grupo-suscripcion p {
    font-weight: bold;
    margin-bottom: 10px;
}

.grupo-contacto label,
.grupo-suscripcion label {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.grupo-contacto input,
.grupo-suscripcion input {
    margin-right: 6px;
}

table{
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background-color: #2e2e2e;
}

th, td {
    padding: 12px;
    border: 1px solid #666;
    text-align: left;
}

.contacto{
    background-color: black;
    height: 75px;
    margin: 0;
    padding-top: 20px;
}